/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.underline_yellow {
  text-decoration: underline;
  text-decoration-color: #dd6b20;
}

.cat_image_height {
  height: 48vh;
}

@font-face {
  font-family: CartoGothicBold;
  src: url(/fonts/carto-gothic-std/CartoGothicStd-Bold.otf);
}

.carto-bold {
  font-family: 'CartoGothicBold', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: CartoGothicBoldItalic;
  src: url(/fonts/carto-gothic-std/CartoGothicStd-BoldItalic.otf);
}

.carto-bold-italic {
  font-family: 'CartoGothicBoldItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: CartoGothicBoldStd;
  src: url(/fonts/carto-gothic-std/CartoGothicStd-Book.otf);
}

.carto-bold-std {
  font-family: 'CartoGothicBoldStd', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: CartoGothicBoldStdItalic;
  src: url(/fonts/carto-gothic-std/CartoGothicStd-Italic.otf);
}

.carto-bold-std-italic {
  font-family: 'CartoGothicBoldStdItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoBlack;
  src: url(/fonts/chivo/Chivo-Black.otf);
}

.chivo-black {
  font-family: 'ChivoBlack', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoBlackItalic;
  src: url(/fonts/chivo/Chivo-BlackItalic.otf);
}

.chivo-black-italic {
  font-family: 'ChivoBlackItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoBold;
  src: url(/fonts/chivo/Chivo-Bold.otf);
}

.chivo-bold {
  font-family: 'ChivoBold', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoBoldItalic;
  src: url(/fonts/chivo/Chivo-BoldItalic.otf);
}

.chivo-bold-italic {
  font-family: 'ChivoBoldItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoExtraBold;
  src: url(/fonts/chivo/Chivo-ExtraBold.otf);
}

.chivo-extra-bold {
  font-family: 'ChivoExtraBold', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoExtraBoldItalic;
  src: url(/fonts/chivo/Chivo-ExtraBoldItalic.otf);
}

.chivo-extra-bold-italic {
  font-family: 'ChivoExtraBoldItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoItalic;
  src: url(/fonts/chivo/Chivo-Italic.otf);
}

.chivo-italic {
  font-family: 'ChivoItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoLight;
  src: url(/fonts/chivo/Chivo-Light.otf);
}

.chivo-light {
  font-family: 'ChivoLight', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoLightItalic;
  src: url(/fonts/chivo/Chivo-LightItalic.otf);
}

.chivo-light-italic {
  font-family: 'ChivoLightItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoMedium;
  src: url(/fonts/chivo/Chivo-Medium.otf);
}

.chivo-medium {
  font-family: 'ChivoMedium', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoMediumItalic;
  src: url(/fonts/chivo/Chivo-MediumItalic.otf);
}

.chivo-medium-italic {
  font-family: 'ChivoMediumItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoRegular;
  src: url(/fonts/chivo/Chivo-Regular.otf);
}

.chivo-regular {
  font-family: 'ChivoRegular', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoThin;
  src: url(/fonts/chivo/Chivo-Thin.otf);
}

.chivo-thin {
  font-family: 'ChivoThin', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: ChivoThinItalic;
  src: url(/fonts/chivo/Chivo-ThinItalic.otf);
}

.chivo-thin-italic {
  font-family: 'ChivoThinItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoBlack;
  src: url(/fonts/lato/Lato-Black.ttf);
}

.lato-black {
  font-family: 'LatoBlack', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoBlackItalic;
  src: url(/fonts/lato/Lato-BlackItalic.ttf);
}

.lato-black-italic {
  font-family: 'LatoBlackItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoBold;
  src: url(/fonts/lato/Lato-Bold.ttf);
}

.lato-bold {
  font-family: 'LatoBold', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoBoldItalic;
  src: url(/fonts/lato/Lato-BoldItalic.ttf);
}

.lato-bold-italic {
  font-family: 'LatoBoldItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoHairline;
  src: url(/fonts/lato/Lato-Hairline.ttf);
}

.lato-hairline {
  font-family: 'LatoHairline', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoHairlineItalic;
  src: url(/fonts/lato/Lato-HairlineItalic.ttf);
}

.lato-hairline-italic {
  font-family: 'LatoHairlineItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoHeavy;
  src: url(/fonts/lato/Lato-Heavy.ttf);
}

.lato-heavy {
  font-family: 'LatoHeavy', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoHeavyItalic;
  src: url(/fonts/lato/Lato-HeavyItalic.ttf);
}

.lato-heavy-italic {
  font-family: 'LatoHeavyItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoItalic;
  src: url(/fonts/lato/Lato-Italic.ttf);
}

.lato-italic {
  font-family: 'LatoItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoLight;
  src: url(/fonts/lato/Lato-Light.ttf);
}

.lato-light {
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoLightItalic;
  src: url(/fonts/lato/Lato-LightItalic.ttf);
}

.lato-light-italic {
  font-family: 'LatoLightItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoMedium;
  src: url(/fonts/lato/Lato-Medium.ttf);
}

.lato-medium {
  font-family: 'LatoMedium', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoMediumItalic;
  src: url(/fonts/lato/Lato-MediumItalic.ttf);
}

.lato-medium-italic {
  font-family: 'LatoMediumItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoRegular;
  src: url(/fonts/lato/Lato-Regular.ttf);
}

.lato-regular {
  font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoSemiBold;
  src: url(/fonts/lato/Lato-Semibold.ttf);
}

.lato-semibold {
  font-family: 'LatoSemiBold', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoSemiBoldItalic;
  src: url(/fonts/lato/Lato-SemiboldItalic.ttf);
}

.lato-semibold-italic {
  font-family: 'LatoSemiBoldItalic', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoThin;
  src: url(/fonts/lato/Lato-Thin.ttf);
}

.lato-thin {
  font-family: 'LatoThin', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: LatoThinItalic;
  src: url(/fonts/lato/Lato-ThinItalic.ttf);
}

.lato-thin-italic {
  font-family: 'LatoThinItalic', Arial, Helvetica, sans-serif;
}
